@model LojaVirtual.Models.Fatura

@{
    ViewData["Title"] = $"Detalhes {Model.FaturaId}";
}

<h1>Detalhes</h1>

<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaturaStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaturaStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferenceMPId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferenceMPId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoDePagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoDePagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FaturaId">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
